source https://www.nuget.org/api/v2

group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget dotnet-fable 1.3.17
    nuget Fable.Elmish 1.0.1
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.HMR
    nuget Fable.Elmish.React 1.0.3
    nuget FSharp.Core 4.3.4
    nuget FSharp.Data 3.0.0
    nuget Fulma
    nuget jose-jwt
    nuget Saturn
    nuget Fable.JsonConverter
    nuget Fulma.Extensions 1.0.0-beta-016
    nuget Saturn.Extensions.Authorization

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core 1.3.17
    nuget Fable.Elmish.Browser 1.0.0
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React 1.0.3
    nuget Fable.Elmish.HMR
    nuget Fulma 1.0.0-beta-026
    nuget Fulma.Extensions 1.0.0-beta-016

    clitool dotnet-fable 1.3.17

group Build
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core 4.3.4 // https://github.com/fsharp/FAKE/issues/2001
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem